VITE_DOWNLOAD_WINDOWS_URL=https://github.com/UnHeardCoder/cubelit/releases/download/vX.X.X/Cubelit_X.X.X_x64-setup.exe
VITE_DOWNLOAD_LINUX_URL=https://github.com/UnHeardCoder/cubelit/releases/download/vX.X.X/cubelit_X.X.X_amd64.AppImage
